*.o
*.a
*.so
*.d
depinst/
depsrc/
README.html
doxygen/

cmake-build-debug
.idea
osprey/libserver/tutorial/avarage/proof
osprey/libserver/tutorial/avarage/proving_key
osprey/libserver/tutorial/avarage/verification_key
osprey/libserver/tutorial/avarage/complier-log.txt
/vcpkg_installed/
