[submodule "depends/ate-pairing"]
	path = depends/ate-pairing
	url = https://github.com/herumi/ate-pairing
[submodule "depends/libsnark-supercop"]
	path = depends/libsnark-supercop
	url = https://github.com/mbbarbosa/libsnark-supercop.git
[submodule "depends/xbyak"]
	path = depends/xbyak
	url = https://github.com/herumi/xbyak.git
